<div class="wrapper-test">
  <div class="container" ngClass="'test' : !hideBtn">
    <div class="content">
      <div class="border-animation">
        <h1>Anthony Marques</h1>
      </div>
    </div>

    <div class="center-btn">
      <button class="btn-landing" (click)="mainNav()">enter</button>
    </div>
    <!-- <a href="https://www.instagram.com/arinturkayy/" -->
    <!-- > -->
    <!-- <h3>Image by arin turkayy</h3></a -->
    <!-- > -->
    <!-- <div class="border-animation"> TET TEST TSET STEST ETS</div> -->
  </div>
</div>
