<div class="landing__container" ngClass="'test' : !hideBtn">
  <div class="landing__container__content">
    <div class="landing__container__content__border__animation">
      <h1>Anthony Marques</h1>
    </div>
  </div>

  <div class="landing__center__btn">
    <button class="landing__btn" (click)="mainNav()">enter</button>
  </div>
  <!-- <a href="https://www.instagram.com/arinturkayy/" -->
  <!-- > -->
  <!-- <h3>Image by arin turkayy</h3></a -->
  <!-- > -->
  <!-- <div class="border-animation"> TET TEST TSET STEST ETS</div> -->
</div>
