<!-- <div class="container-work"> -->
  
<div class="container">
<h1>JS Frontend Engineer</h1>

<h3>Experience</h3>

<h4>
JS Frontend Engineer | Global Kinetic Software Engineers
July 2013 - Present
</h4>

<p>
Building high-quality web applications and delivering features using Angular (Angular.js, Angular 4, Angular 9, Angular 13), TypeScript, JavaScript, and Jest.
Utilizing API swagger documents and working on multiple domains consistently for the past 2 years.
Successfully building features, bug fixing, and creating spikes for investigating solutions with technical documentation.
Experience in inherited codebases and maintaining multiple Angular projects.
Adapted to remote work during lockdown, effectively communicating issues and providing relevant context for efficient debugging processes.
Proficient in core tools and technologies such as Angular (Angular 13 with best practices), Angular.js, Angular 4, TypeScript, JavaScript unit testing, Jest, Bootstrap, and working with other UI libraries.
Skilled in building reusable components for client's UI libraries.
Familiarity with Azure DevOps, TFS, git-flow, feature building, code reviews, and remote work.
Proficient in Agile methodologies, particularly Scrum, and building strong rapport with colleagues to ensure efficient teamwork.
Committed to delivering results and achieving goals as a mid-level Frontend Engineer.
</p>

Education


Bachelor of Science in Computer Science | 2012

<h1>Skills</h1>

<ul>
  <li>Angular (Angular 13 with best practices, Angular.js, Angular 4, Angular 9)</li>
  <li>TypeScript, JavaScript</li>
  <li>Creating custom components for component libraries</li>
  <li>Jest, Bootstrap, UI libraries</li>
  <li>Maintaining multiple code bases</li>
  <li>Azure DevOps, TFS, git-flow</li>
  <li>Agile methodologies (Scrum)</li>
  <li>Code reviews, remote work</li>
  <li>Strong communication and collaboration skills</li>
</ul>

</div>