@import '/src/sass/pages/techstack';

.container {
    // width: min(100% -3rem, 65ch);
    margin:auto;
    color:aliceblue;
    font-size: medium;
}

.experience {
    padding-top:2rem;
    margin: auto 5rem;
}

.title-container {
    display: flex;
    flex-flow: column ;
    column-gap: 2rem;
}

// .title-container {

// }