@keyframes slideTopDown {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 0 -10000px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-image: url("../../assets/images/pexels-arın-turkay-2591408.jpg");
  background-repeat: repeat-y;
  animation: slideTopDown 1800s infinite linear;
  background-size: cover;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  font-size: 25px;
  color: rgb(230, 231, 231);
}
.center-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-landing {
  position: relative;
  display: block;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #fff;
  padding: 14px 60px;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
  transition: 1s all ease;
}
.btn-landing::before {
  background: #fff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  color: black;

}

.btn-landing::before {
  width: 100%;
  height: 0%;
}
.btn-landing:hover::before {
  height: 100%;
  color: black;
  cursor: pointer;
}

.btn-landing:hover {
  color: black;
  cursor: pointer;
}

.content.borderAnimation {
  border: solid 4px #fff;
}

.border-animation h1 {
  font-size: xxx-large;
  color: darkgrey;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

// .btn {
//   margin: 20px;
//   background-color: rgb(49, 47, 47);
//   width: 8rem;
//   height: 1.5rem;
//   border-color: rgb(179, 173, 173);
//   color: rgb(121, 121, 121);
//   border-radius: 10px;
//   animation: fadeIn linear 2s;
//   transition: width 1.5s, height 3s;
//   -webkit-animation: fadeIn linear 2s;
//   -moz-animation: fadeIn linear 2s;
//   -o-animation: fadeIn linear 2s;
//   -ms-animation: fadeIn linear 2s;
// }
// .btn:hover {
//   cursor: pointer;
//   color: rgb(179, 173, 173);
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
