.profile-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  background-size:cover;
  background-image: url("../../assets/images/pexels-martinque-13820812-min.jpg");
  filter: brightness(70%);
}

.bio-panel {
  background-color: darkblue;
  opacity: 0.3;
}

.profile-card {
  flex-direction: column;
}

.profile-image img{
  width: 400px;
  padding: 3rem;
  margin: 4rem;
}

.bio-card {
  word-wrap: break-word;
  color: aliceblue;
  width: 73ch;
  padding: 3rem;
  margin: 4rem;
  font-size: 3rem;
}
