@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideTopDown {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position:  0 -10000px;
  }
}

.profile-background {
  background-attachment: fixed;
  height: 100vh;
  background-repeat: repeat-y;
  animation: slideTopDown 1800s infinite linear;
  background-size: cover;
  overflow: hidden;
  background-image: url("../../assets/images/filip-zrnzevic-unsplash-min.jpg");
  
  background-repeat: repeat-x;
  animation: slideTopDown 1800s infinite linear;
  
}

.tech-stack-list {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  // flex-flow: row wrap;
  // justify-content: center;
  // grid-gap: 1em;
  
}

.tech-stack-list img {
  background-size: cover;
  align-items: center;
}

.tech-stack {
  margin-top: 13rem;
  margin-right: 5rem;
  max-height: 230px;
}

.tech-stack.svg {
  padding-top: 4rem;
  height: 250px;
  width: 250px;
}

.image-adjustment > img {
  min-height: 194px;
  min-width: 233px;
}

.container-techstack {
  height: 100vw;
  // display: grid;
      // grid-template-columns: repeat(3, 10rem);
}

.tech-stack img {
  max-height: 280px;
  max-width: 400px;
}


// @media (max-width: 1300px){
//   .tech-stack-list {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }