@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideTopDown {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position:  0 -10000px;
  }
}

.profile-background {
  background-attachment: fixed;
  height: 100vh;
  background-repeat: repeat-y;
  animation: slideTopDown 1800s infinite linear;
  background-size: cover;
  overflow: hidden;
  background-image: url("../../assets/images/filip-zrnzevic-unsplash-min.jpg");
  
  background-repeat: repeat-x;
  animation: slideTopDown 1800s infinite linear;
  
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin-top: 13rem;
  margin-right: 5rem;
  border: 2px solid white;
}

.project img {
  max-height: 400px;
  max-width: 400px;
}
