@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container-work {
  padding: 20px;
  margin-top: -105px;
  height: 100vh;
  background-image: url("../../assets/images/filip-zrnzevic-unsplash-min.jpg");
  background-size: cover;
  background-position: 0 75%;
  overflow: auto;
  animation:fadeIn 3s;
  
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin-top: 13rem;
  margin-right: 5rem;
  border: 2px solid white;
}

.project img {
  max-height: 400px;
  max-width: 400px;
}
