<div class="container-techstack">
  <div class="project-list">
    <div >
      <div class="project">
      <img src="../../../assets/images/Angular_full_color_logo.svg.png" />
      </div>
    </div>

    <div class="project">
      <div class="image-adjustment">
      <img src="../../../assets/images/icons/javascript-yellow-box-logo.png" />
    </div>
    </div>
    <div class="project"><img src="../../../assets/images/icons/nodejslogo.png" /></div>
    <div class="project"><img src="../../../assets/images/icons/icons8-typescript-windows-11-color/icons8-typescript-240.png" /></div>
    <div class="project svg"><app-svg-tailwind></app-svg-tailwind></div>
  </div>
</div>
