<div class="container-work">
  <div class="project-list">
    <div class="project"><img src="../../../assets/images/Angular_full_color_logo.svg.png" /></div>
    <div class="project">
      <img src="../../../assets/images/nodejs-min.png" />
    </div>
    <!-- <div class="project"><img src="../../../assets/images/rps-game.png" /></div>
    <div class="project"><img src="../../../assets/images/rps-game.png" /></div>
    <div class="project"><img src="../../../assets/images/rps-game.png" /></div> -->
  </div>
</div>
