<!-- <div class="container-work"> -->
  <div class="project-list">
    <div class="project"><img src="../../../assets/images/Angular_full_color_logo.svg.png" /></div>
    <div class="project">
      <img src="../../../assets/images/nodejs-min.png" />
    </div>
    <div class="project"><img src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/bbc5bek5atvngq2imz6d.png" width="1000" height="420" /></div> -->
    <div class="project"><img src="../../../assets/images/rps-game.png" /></div>
    <div class="project"><img src="../../../assets/images/rps-game.png" /></div> -->
  </div>
<!-- </div> -->
