<div
  id="profileCard"
  #profileCard
  class="main__container__profile__container"
  [class]="
    classtoggle ? 'main__container__profile__container' : 'profile__shrink'
  "
>
  <div class="main__container__profile__profile__card">
    <div class="main__container__profile__card__profile_image">
      <img src="../../../assets/images/myfaceProfile3.png" />
    </div>
  </div>
  <div class="socials">
    <ul>
      <li>
        <img src="assets/images/githublogo.png" style="height: 3.5rem" />github
      </li>
      <li>
        <img
          src="assets/images/twitter_logo.png"
          style="height: 3.5rem"
        />twitter
      </li>
      <li>
        <img
          src="assets/images/WordPress-logotype-wmark.png"
          style="height: 3.5rem"
        />wordpress
      </li>
      <li>
        <img
          src="assets/images/Instagram_Glyph_Black.png"
          style="height: 3rem"
        />
        instagram
      </li>
      <li></li>
    </ul>
  </div>
</div>
