<div class="wrapper flow main__container">
  <app-headnav (messageBus)="scrollToAnchor($event)"></app-headnav>
  <!-- <app-profile-card [animationToggle]="doAnimation"></app-profile-card> -->
  <div class="content" id="home">
    <!-- <div class="content" (scroll)="onScroll($event)"> -->
    <div class="bio-card">
      
      <h2>I'm Anthony Marques</h2>
      <p>
        I am a self taugh FrontEnd developer. I do love people and helping others to make robust web
        applications.
      </p>
    </div>

    <section class="landing-background">
      <router-outlet></router-outlet>
    </section>
    <div id="tech-stack">
    <section >
      <app-techstack></app-techstack>
    </section>
  </div>
    <section id="resume">
      <app-work></app-work>
    </section>
  </div>
</div>
