<nav class="navBar">
  <ul>
    <li [routerLink]='["/"]' [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"><a>Home</a>
    </li>
    <li><a (click)="goDown() ">Work</a></li>
    <li [routerLink]='["techstack"]' routerLinkActive="active"><a>Tech stack</a></li>
    <li><a [routerLink]='["about"]' routerLinkActive="active">About</a></li>
  </ul>
  <!-- <button (click)="scrollToSection('about')">About</button>
<button (click)="scrollToSection('projects')">Projects</button>
<button (click)="scrollToSection('contact')">Contact</button> -->
</nav>